{% extends 'base.html' %}
{% load static %}

{% block head %}{% endblock head %}

{% block content %}
    <div class='container'>

        {% include 'snippets/breadcrumbNavBar.html' %}

        {% include './snippets/card-swiper-preview.html' with title='HURRY, Ends Today! 20% Off EVERYTHING' %}
        
        <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-4 justify-content-center text-center card-styles">

                <div class="col">
                    <a href="#">
                        <div class="card">
                            <div class="col">
                                <img src="/static/img/deals/PatioGardenDeals.webp" class="card-img-top" alt="Patio GardenDeals">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Patio Furniture</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a href="#">
                        <div class="card">
                            <div class="col">
                                <img src="/static/img/deals/Sofas & Loveseats.webp" class="card-img-top" alt="Sofas & Loveseats">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Sofas & Loveseats</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a href="/category/furniture/all-bedroom/sofas-sectionals/">
                        <div class="card">
                            <div class="col">
                                <img src="/static/img/deals/Sectionals.webp" class="card-img-top" alt="Sectionals">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Sectionals</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a href="#">
                        <div class="card">
                            <div class="col">
                                <img src="/static/img/deals/SportsOutdoors.webp" class="card-img-top" alt="Sports Outdoors">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Pools</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a href="#">
                        <div class="card">
                            <div class="col">
                                <img src="/static/img/deals/Mattresses.webp" class="card-img-top" alt="Mattresses">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Mattresses</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a href="/category/home-decor/rugs/">
                        <div class="card">
                            <div class="col">
                                <img src="/static/img/deals/Rugs.webp" class="card-img-top" alt="Rugs">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Rugs</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a href="#">
                        <div class="card">
                            <div class="col">
                                <img src="/static/img/deals/Comforters.webp" class="card-img-top" alt="Comforters">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Comforters</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a href="#">
                        <div class="card">
                            <div class="col">
                                <img src="/static/img/deals/Site-Home.webp" class="card-img-top" alt="Home Appliances">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Home Appliances</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a href="#">
                        <div class="card">
                            <div class="col">
                                <img src="/static/img/deals/Beverages.webp" class="card-img-top" alt="Beverages">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Beverages</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a href="#">
                        <div class="card">
                            <div class="col">
                                <img src="/static/img/deals/Home Storage.webp" class="card-img-top" alt="Home Storage">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Home Storage</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a href="#">
                        <div class="card">
                            <div class="col">
                                <img src="/static/img/deals/Bath Towels.webp" class="card-img-top" alt="Bath Towels">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Bath Towels</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a href="/category/home-decor/home-decor/">
                        <div class="card">
                            <div class="col">
                                <img src="/static/img/deals/Home Decor.webp" class="card-img-top" alt="Home Decor">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Home Decor</h5>
                            </div>
                        </div>
                    </a>
                </div>

        </div>
        
    </div>

{% endblock content %}