{% extends 'base.html' %}
{% load static %}

{% block head %}{% endblock head %}

{% block content %}
<div class="container">
    <div class="row">
        <a href="#">
            <img src="{% static 'img/home/HeroBanner.webp' %}" alt="banner">
        </a>
    </div>
    <div class="row mt-4">
        <a href="#">
            <img src="{% static 'img/home/HeroBannerToday.webp' %}" alt="banner">
        </a>
    </div>

    <div class="container mt-5 text-center">
        <div class="row mb-4">
            <a href="#">
                <img src="{% static 'img/home/thisWeekDealsBanner.webp' %}" alt="ThisWeekDeals">
            </a>
        </div>
        <div class="row">
            <div class="col-6">
                <a href="category/furniture/all-bedroom/sofas-sectionals/">
                    <img src="{% static 'img/home/EdNavMattresses.webp' %}" alt="Mattresses">
                </a>
            </div>
            <div class="col-6">
                <a href="/category/furniture/all-home-office/recliners/">
                    <img src="{% static 'img/home/EdNavSectionals.webp' %}" alt="Sectionals">
                </a>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-6">
                <a href='/category/furniture/all-bedroom/sofas-sectionals/'>
                    <span class="title-item-primary">Save up to $300</span><br>
                    <span class="title-item-secondary">Save up to $300</span>
                </a>
            </div>
            <div class="col-6">
                <a href='/category/furniture/all-home-office/recliners/'>
                    <span class="title-item-primary">Save up to $300</span><br>
                    <span class="title-item-secondary">Save up to $300</span>
                </a>
            </div>
        </div>
        <div class="row mt-4">
            <a href="#">
                <img src="{% static 'img/home/BannerFINAL.webp' %}" alt="ThisWeekDeals">
            </a>
        </div>
    </div>

    {% include './snippets/card-swiper-preview.html' with title='Popular Products' %}
    {% include './snippets/swiper-products.html' with products=products %}

    <div class="row mb-4">
        <a href="#">
            <img src="{% static 'img/home/site-salehub-banner-dt-essentials.webp' %}" alt="banner">
        </a>
    </div>
    <div class="row">
        <a href="#">
            <img src="{% static 'img/home/LEGACYHTMLBANNERewards.webp' %}" alt="banner">
        </a>
    </div>

    {% include './snippets/card-swiper-preview.html' with title='Shop By Category' %}
    {% include './snippets/card-categories.html' with categories=categories deals=True %}

</div>
<!-- Content -->
{% endblock content %}


{% block script %}
<script>
    createSwiper('popularProducts');
</script>
{% endblock script %}