{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    {% include 'snippets/breadcrumbNavBar.html' with data='Sign Up' %}
    <form method='POST'>{% csrf_token %}
        {{ form|crispy }}
    
        <div class='row'>
            <div class='col-auto'>
                <button class="btn btn-primary" type='submit'>Create Account</button>
            </div>
            <div class='col align-self-center'>
                Already have an account? <a href="{% url 'users:sign-in' %}" style='color: #006ab9!important;'>Sign In</a>
            </div>
        </div>
    </form>
</div>
{% endblock content %}