<footer>
    <div class="container mt-5">
        <div class="row mb-3">
            <div class="col">
                <h3 class="footer-title">Customer Care</h3>
            </div>
            <div class="col">
                <h3 class="footer-title">Shop & Learn</h3>
            </div>
            <div class="col">
                <h3 class="footer-title">Big Lots Corporate</h3>
            </div>
            <div class="col">
                <h3 class="footer-title">Credit Card</h3>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <a href="https://www.biglots.com/help/" class="text-dark">
                    <p class="footer-links">Help</p>
                </a>
            </div>
            <div class="col">
                <a href="https://www.biglots.com/weekly-ad" class="text-dark">
                    <p class="footer-links">Weekly Ad</p>
                </a>
            </div>
            <div class="col">
                <p class="footer-text">For career, Investor relations and other Big Lots Information, visit:
                </p>
            </div>
            <div class="col">
                <p class="footer-text">Live Big and Save Lots with the Big Lots Credit Card</p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <a href="https://biglotsiqorsupport.custhelp.com/app/chat/chat_launch/request_source/8/chat_data"
                    class="text-dark">
                    <p class="footer-links">Live Chat</p>
                </a>
            </div>
            <div class="col">
                <a href="https://www.biglots.com/c/_/N-637117878" class="text-dark">
                    <p class="footer-links">Shop Department</p>
                </a>
            </div>
            <div class="col">
                <a href="https://www.biglots.com/corporate/" class="text-dark">
                    <p class="footer-links">Corporate Information Site</p>
                </a>
            </div>
            <div class="col">
                <a href="#" class="text-dark">
                    <p class="footer-links">Learn More</p>
                </a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <a href="https://www.biglots.com/help/contact-us" class="text-dark">
                    <p class="footer-links">Contacs Us</p>
                </a>
            </div>
            <div class="col">
                <a href="https://local.biglots.com/" class="text-dark">
                    <p class="footer-links">Store Finder</p>
                </a>
            </div>
            <div class="col">
                <a href="https://careers.biglots.com/" class="text-dark">
                    <p class="footer-links">Careers</p>
                </a>
            </div>
            <div class="col">
                <a href="https://www.biglots.com/page/creditcard/?scm=WEB_FOOTER_ALL_CREDITCARD_CREDITCARD_11012017"
                    class="text-dark">
                    <p class="footer-links">Benefits</p>
                </a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <a href="https://www.biglots.com/account/order-status" class="text-dark">
                    <p class="footer-links">Order Status</p>
                </a>
            </div>
            <div class="col">
                <a href="https://www.biglots.com/bigrewards/bigrewards-about" class="text-dark">
                    <p class="footer-links">BIG Rewards</p>
                </a>
            </div>
            <div class="col">
                <a href="https://www.biglots.com/corporate/investors" class="text-dark">
                    <p class="footer-links">Investors</p>
                </a>
            </div>
            <div class="col">
                <a href="https://d.comenity.net/ac/biglots/public/home" class="text-dark">
                    <p class="footer-links">Pay & h3anage Card</p>
                </a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <a href="https://www.biglots.com/help-faq/_/N-4005127926" class="text-dark">
                    <p class="footer-links">FAQs</p>
                </a>
            </div>
            <div class="col">
                <a href="https://www.biglots.com/page/creditcard/?scm=WEB_FOOTER_ALL_CREDITCARD_CREDITCARD_11012017"
                    class="text-dark">
                    <p class="footer-links">Credit Card</p>
                </a>
            </div>
            <div class="col">
                <a href="https://www.biglots.com/corporate/community" class="text-dark">
                    <p class="footer-links">Community</p>
                </a>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h3 class="footer-title">Legal</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <button class="border border-dark border-opacity-50 rounded-1" style="font-weight:300">Cookie
                            Settings</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <a href="https://www.biglots.com/page/returns-policy" class="text-dark">
                    <p class="footer-links">Return Policy</p>
                </a>
            </div>
            <div class="col">
                <a href="https://www.biglots.com/page/progressive-leasing/?scm=WEB_FOOTER_ALL_EASYLEASING_EASYLEASING_11012017"
                    class="text-dark">
                    <p class="footer-links">Easy Leasing</p>
                </a>
            </div>
            <div class="col">
                <a href="https://www.biglots.com/corporate/investors/environmental-social-governance" class="text-dark">
                    <p class="footer-links">Enviromental Social & Governance</p>
                </a>
            </div>
            <div class="col">
                <a href="https://www.biglots.com/images/marketing/corporate/california_transparency_in_supply_act_disclosure_12-28-11.pdf"
                    class="text-dark">
                    <p class="footer-links">CA Transparency Act</p>
                </a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <a href="https://survey3.medallia.com/?biglots" class="text-dark">
                    <p class="footer-links">Feedback</p>
                </a>
            </div>
            <div class="col">
                <a href="https://www.biglots.com/page/gift-cards/?scm=WEB_FOOTER_ALL_GIFTCARD" class="text-dark">
                    <p class="footer-links">Gift Cards</p>
                </a>
            </div>
            <div class="col">
                <a href="https://www.rangeme.com/biglots" class="text-dark">
                    <p class="footer-links">Potential Suppliers</p>
                </a>
            </div>
            <div class="col">
                <a href="https://www.biglots.com/help/optOut.jsp" class="text-dark">
                    <p class="footer-links">California Customers Only: Do Not Sell My Info</p>
                </a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                <p class="form-label fw-bold mt-4">Follow Us</p>
                <a href="https://www.facebook.com/BigLots" class="footer-social-links"><svg
                        xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34">
                        <path
                            d="M17,2.833A14.167,14.167,0,1,1,2.833,17,14.183,14.183,0,0,1,17,2.833ZM17,0A17,17,0,1,0,34,17,17,17,0,0,0,17,0ZM14.167,14.167H11.333V17h2.833v8.5h4.25V17h2.578l.255-2.833H18.417v-1.18c0-.677.136-.945.791-.945H21.25V8.5H17.844c-2.547,0-3.678,1.122-3.678,3.27v2.4Z" />
                    </svg></a>
                <a href="https://www.twitter.com/BigLots" class="footer-social-links"><svg
                        xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34">
                        <path
                            d="M17,2.833A14.167,14.167,0,1,1,2.833,17,14.183,14.183,0,0,1,17,2.833ZM17,0A17,17,0,1,0,34,17,17,17,0,0,0,17,0Zm9.208,12.435a6.981,6.981,0,0,1-2,.55,3.5,3.5,0,0,0,1.534-1.929,6.979,6.979,0,0,1-2.216.846,3.489,3.489,0,0,0-5.943,3.18,9.906,9.906,0,0,1-7.188-3.644,3.493,3.493,0,0,0,1.079,4.657,3.481,3.481,0,0,1-1.578-.436,3.492,3.492,0,0,0,2.8,3.464,3.5,3.5,0,0,1-1.575.059A3.492,3.492,0,0,0,14.375,21.6a7.019,7.019,0,0,1-5.167,1.446A9.919,9.919,0,0,0,24.467,14.24,7.031,7.031,0,0,0,26.208,12.435Z" />
                    </svg></a>
                <a href="https://www.youtube.com/biglots/" class="footer-social-links"><svg
                        xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34">
                        <path
                            d="M22.992,10.061c-2.836-.193-9.154-.191-11.986,0-3.067.21-3.427,2.063-3.451,6.939.024,4.868.383,6.729,3.452,6.939,2.832.191,9.15.193,11.986,0,3.067-.21,3.428-2.064,3.452-6.939-.025-4.868-.384-6.729-3.454-6.939ZM14.167,20.148v-6.3l6.769,3.142ZM17,2.833A14.167,14.167,0,1,1,2.833,17,14.183,14.183,0,0,1,17,2.833ZM17,0A17,17,0,1,0,34,17,17,17,0,0,0,17,0Z" />
                    </svg></a>
                <a href="https://www.pinterest.com/biglots/" class="footer-social-links"><svg
                        xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34">
                        <path
                            d="M17,2.833A14.167,14.167,0,1,1,2.833,17,14.183,14.183,0,0,1,17,2.833ZM17,0A17,17,0,1,0,34,17,17,17,0,0,0,17,0Zm0,8.5a8.5,8.5,0,0,0-3.1,16.415,8.109,8.109,0,0,1,.031-2.438c.153-.663,1-4.225,1-4.225a3.045,3.045,0,0,1-.256-1.262c0-1.182.687-2.064,1.54-2.064a1.068,1.068,0,0,1,1.075,1.2,17.1,17.1,0,0,1-.7,2.831,1.234,1.234,0,0,0,1.259,1.536c1.51,0,2.673-1.592,2.673-3.892a3.355,3.355,0,0,0-3.552-3.458,3.679,3.679,0,0,0-3.838,3.689,3.306,3.306,0,0,0,.632,1.938.255.255,0,0,1,.058.245l-.234.963c-.038.156-.125.19-.285.115A3.809,3.809,0,0,1,11.57,16.8c0-2.682,1.948-5.142,5.616-5.142a4.988,4.988,0,0,1,5.242,4.909c0,2.93-1.847,5.287-4.412,5.287a2.272,2.272,0,0,1-1.948-.976l-.53,2.02a9.443,9.443,0,0,1-1.057,2.228A8.5,8.5,0,1,0,17,8.5Z" />
                    </svg></a>
                <a href="https://instagram.com/biglots/" class="footer-social-links"><svg
                        xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34">
                        <path
                            d="M17,2.833A14.167,14.167,0,1,1,2.833,17,14.183,14.183,0,0,1,17,2.833ZM17,0A17,17,0,1,0,34,17,17,17,0,0,0,17,0Zm0,10.033c2.27,0,2.539.009,3.435.05,2.3.1,3.379,1.2,3.485,3.484.04.9.048,1.165.048,3.434s-.009,2.539-.048,3.434c-.106,2.285-1.179,3.38-3.485,3.485-.9.04-1.164.05-3.435.05s-2.539-.009-3.434-.05c-2.309-.106-3.379-1.2-3.485-3.485-.04-.9-.05-1.164-.05-3.434s.01-2.539.05-3.434c.1-2.288,1.179-3.38,3.485-3.485.9-.041,1.165-.048,3.434-.048ZM17,8.5c-2.309,0-2.6.01-3.5.052-3.088.142-4.8,1.854-4.944,4.943C8.51,14.4,8.5,14.692,8.5,17s.01,2.6.051,3.5c.142,3.087,1.856,4.8,4.944,4.944.908.041,1.2.051,3.5.051s2.6-.01,3.506-.051c3.083-.142,4.8-1.854,4.943-4.944.041-.907.051-1.2.051-3.5s-.01-2.6-.051-3.5c-.139-3.084-1.854-4.8-4.943-4.943C19.6,8.51,19.309,8.5,17,8.5Zm0,4.135A4.365,4.365,0,1,0,21.365,17,4.365,4.365,0,0,0,17,12.635Zm0,7.2A2.833,2.833,0,1,1,19.835,17,2.833,2.833,0,0,1,17,19.833Zm4.536-8.389a1.02,1.02,0,1,0,1.021,1.02A1.02,1.02,0,0,0,21.536,11.444Z" />
                    </svg></a>
            </div>
        </div>
    </div>
    <div class="container-fluid pb-5 pt-2 container-fluid-footer">
        <p class="text-center text-white fw-bold">© 2023 Big Lots Stores, Inc., or their affiliates. All
            rights
            reserved. Your use of this website is governed by our <a href="#" class="text-white">User
                Agreement</a>
            and
            <a href="#" class="text-white">Privacy Policy</a>.
    </div>
</footer>