{% load static %}
{% load product_tags %}

<div class="col mt-4 mb-4">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 card-styles">
        {% for product in products %}
            <div class="col d-flex align-items-stretch">
                <div class="card">

                    <div class="row ps-3 mb-4">
                        {% if product.discounts.all %}
                            <div class="col-auto sale-badge px-3 align-items-center">
                                SALE
                            </div>
                        {% endif %}
                        <div class="col text-end pe-1">
                            <button class='border border-0 wishlist' type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="22" fill="grey"
                                    class="bi bi-heart" viewBox="0 0 16 16">
                                    <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg>
                            </button>
                        </div>
                    </div>

                    <a href="{% url 'products:product-overview' product.slug %}">
                        <img src="{{ product.images.first.url.url }}" class="card-img-top" alt="{{ product.images.first.alternative_text }}">

                        {% with product.discounts as discounts %}
                            <div class="card-body px-0 py-1 d-flex flex-column">
                                {% with discounts.first as unit_discount %}
                                    <h4 class="mt-4 mb-0 card-price">{% if unit_discount %} ${{unit_discount.discount_price|floatformat:'2'}} {% else %} ${{product.regular_price}} {% endif %}</h4>
                                    <div class="row" style='height:16.5px'>
                                        {% if discounts.first %}
                                            <div
                                                class="col-auto text-decoration-line-through text-muted pe-0 card-promotion">
                                                ${{product.regular_price|floatformat:'2'}}
                                            </div>
                                            {% calculate_discount_saving product.regular_price unit_discount.discount_price as saving %}
                                            <div class="col-auto ps-1 card-discount">
                                                Save {{saving}}
                                            </div>
                                        {% else %}
                                            <br>
                                        {% endif %}
                                    </div>
                                {% endwith %}
                                
                                <div class="row card-text card-body-brand mt-3">
                                    <div class="col">
                                        {% if product.brand.brand_name %}
                                            {{product.brand.brand_name}}
                                        {% else %}
                                            <br>
                                        {% endif %}
                                    </div>
                                </div>
                                <p class="card-text card-body-productName pe-3">{{product.product_name}}</p>

                                <div class="row rating align-items-center">
                                    {% if product.rating %}
                                        <div class='col-auto pe-1'>
                                            <div class='px-0' id="product-{{product.id}}" name='product_rating' data-value='{{product.rating}}'></div>
                                        </div>
                                        <div class="col ps-1 fw-bold text-muted" style="font-size:15px;padding-top:5px"> 
                                            {{product.reviews_count}}
                                        </div>
                                    {% else %}
                                        <div style='height:15px'><br></div>
                                    {% endif %}
                                </div>
                                
                                <div class="row">
                                    {% if discounts.last.discount_unit >= 2 %}
                                        <div class="col fs-6 fw-bold mt-2" style="color:#773dbd">
                                            <img src="{% static 'icons/apr-tag.svg' %}" alt=""> {{discounts.last.discount_description}}
                                        </div>
                                    {% else %}
                                        <br>
                                    {% endif %}
                                </div>
                            </div>
                        {% endwith %}
                    </a>
                    
                    <div class="card-bottom pb-3 pt-4 align-items-center mt-auto">
                        <div class="row delivery-links">
                            {% if product.available_shipping_types.all %}
                                {% for delivery_type in product.available_shipping_types.all %}
                                    <div class="col-4 text-center">{{delivery_type.type_name}}</div>
                                {% endfor %}
                            {% else %}
                                <br>
                            {% endif %}
                        </div>

                        <div class="row mt-4">
                            <div class="col text-center">
                                <button class="btn add-to-cart-button px-5">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>