<div class="container seo-copy">
    <div class="row mt-5" style="color:#7e7e7e; font-size: .75rem;">
        <div class="col-8">
            <p><strong>Grocery</strong><br />
            <p>Big Lots offers a wide selection of groceries at affordable prices. Whether you&rsquo;re
                providing
                for
                your loved ones or hosting a party with friends, shop Big Lots for amazing grocery deals
                on
                food,
                drinks, snacks and more.</p>

            <p><strong>Name brands at a price you&rsquo;ll love</strong><br />
                Enjoy the brands your family loves at a price that works for you from our grocery
                department!
                From
                hydrating Gatorade sport drinks to tasty Doritos flavored tortilla chips, getting
                groceries
                at
                Big
                Lots
                allows you to stock your pantry with tasty goodies.</p>

            <p><strong>Affordable Fresh Finds foods &amp; more</strong><br />
                Fresh Finds grocery products bring classic flavors and tastes to your culinary creations
                and
                masterpieces at a fantastic price. Get condiments, spices, spreads and more with this
                amazing
                grocery
                collection &ndash; only at Big Lots!</p>

            <p><strong>Coffee brew at a great deal</strong><br />
                Needing your daily cup of Joe? We feature delicious Victor Allen, Indulgio and other <a
                    style="color:#ff5a00"
                    href="https://www.biglots.com/c/food-household-pet/grocery/coffee/_/N-292588936">branded
                    coffee</a>
                in grounds or coffee pods. Perfect for your mug at home, on-the-go or at the office,
                pair
                these
                flavorings with delicious creamers and sugars.</p>

            <p>Shop at your local Big Lots for all your groceries from breakfast to dinner time!</p>
        </div>
        <div class="col"></div>
    </div>
</div>