{% load product_tags %}
<!-- Swiper -->
<div class="swiper mb-4" id="brandAccessories">
    <div class="swiper-wrapper card-styles">
        {% for product in products %}
            <div class="swiper-slide">
                <div class="card">
                    <img src="{{ product.images.first.url.url }}" class="card-img-top" alt="{{product.images.first.alternative_text}}">
                    <div class="card-body px-2">
                        <h4 class="card-title mb-0 azo-suns-bold fs-2">{% if product.discount %} ${{product.discount|floatformat:'2'}} {% else %} ${{product.regular_price}} {% endif %}</h4>
                        {% if product.discount %}
                            <div class="row fs-7">
                                <div class="col-auto card-title text-decoration-line-through text-muted pe-0 fs-6">
                                    ${{product.regular_price|floatformat:'2'}}
                                </div>
                                {% calculate_discount_saving product.regular_price product.discount as saving %}
                                <div class="col-auto ps-1 card-title-promotion">
                                    Save {{saving}}
                                </div>
                            </div>
                        {% else %}
                            <br>
                        {% endif %}
                        {% if product.brand_name %}
                            <p class="card-text card-body-brand">{{product.brand_name}}</p>
                        {% else %}<br>{% endif %}
                            <p class="card-text card-body-productName">{{product.product_name}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
<!-- Swiper -->