body {
    font-family: "Azo Sans", "OpenSans", sans-serif;
    font-weight: 400;
}

body a {
    text-decoration: none;
    color: inherit !important;
}

body img {
    max-width: 100%;
    height: auto;
}

#nav-bar-dropdown .dropdown-menu a {
    padding: 0.25rem 1rem 0.25rem 1rem !important;
}

a {
    padding: 0 !important;
}

.container {
    max-width: 960px;
}

.azo-suns-bold {
    font-weight: 700;
}

.azo-suns-medium {
    font-weight: 500;
}

.card-styles,
.card-styles div {
    border: 0;
}

.card-categories:hover {
    color: #773dbd;
}

.card-price {
    font-size: 20px;
    font-weight: 700;
}

.card-promotion {
    font-size: 11px;
    font-weight: 700;
}

.card-title-promotion {
    color: #ff5a00;
    font-weight: 700;
    font-size: 11px;
}

.card-discount {
    color: #ff5a00;
    font-weight: 700;
    font-size: 11px;
}

.card-body-brand {
    margin-bottom: 0px;
    color: rgba(33, 37, 41, 0.75);
    font-size: 12px;
}

.card-body-productName {
    font-size: 14px;
    font-weight: 700;
}

.preview-title {
    font-size: 22px;
    font-weight: 700;
}

.preview-subtitle {
    font-size: 18px;
    font-weight: 400;
}

.card-title {
    font-size: 14px;
    font-weight: 700;
}

.title-item-primary {
    font-size: 22px;
    font-weight: 700;
}

.title-item-secondary {
    font-size: 16px;
    font-weight: 400;
}

@media (min-width: 1320px) {

    #popularProducts img,
    #customersPrefer img {
        max-height: 150px;
    }
}

.swiper-slide {
    height: auto;
}

.text-muted {
    color: #767676;
}

.add-to-cart-button {
    background-color: #ff5a00;
    color: white;
    font-weight: 700;
    font-size: 14px;
}

.pagination {
    color: #0d6efd;
}

.page-link {
    padding: 0.375rem 0.75rem 0.375rem 0.75rem !important;
}

.active>.page-link {
    color: #fff !important;
}

.disabled {
    color: rgba(33, 37, 41, 0.75) !important
}

.form-control,
.form-check-input {
    border: 1px solid #ced4da !important;
}

.product-promotion {
    font-size: 14px;
    color: #ff5a00;
    font-family: 'Futura PT';
}

.product-old-price {
    font-size: 14px;
    color: #767676;
    font-family: 'Futura PT';
}

.add-to-cart-button {
    background-color: #ff5a00;
    color: white;
    font-weight: 700;
    font-size: 14px;
}

.add-to-cart-button:hover {
    background-color: #ff7700;
    color: white;
}

.paypal-form {
    background: #ffc439;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.paypal-image {
    height: 22px;
    width: auto;
}

.paypal-form:hover {
    background: rgb(236, 184, 62);
    ;
}
.paypal-submit-btn {
    all:unset;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
}