{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Content -->
<div class="container">
    {% include 'snippets/breadcrumbNavBar.html' with data='Beauty & Personal Care' %}

    <!-- Preview -->
    {% include 'snippets/page-preview.html' with title='BEAUTY & PERSONAL CARE' subtitle='Take self-care to the next level.' %}
    <div class="row">
        <a href="#">
            <img src="{% static 'products/img/beautypersonalcare/BeautyPersonalCareBanner.webp' %}"
            alt="HouseHoldEssentials">
        </a>
    </div>
    <!-- End Preview -->

    <!-- Categories -->
    {% include 'snippets/card-swiper-preview.html' with title='Shop By Category' %}
    {% include 'snippets/card-categories.html' with categories=categories %}
    <!-- End Categories -->

    <!-- Popular Prodcuts -->
    {% include 'snippets/card-swiper-preview.html' with title='Top Trending Products' %}
    {% include 'snippets/swiper-products.html' with products=products %}
    <!-- End Popular Prodcuts -->
</div>
{% endblock content %}

{% block seo-copy %}
<div class="container seo-copy">
    <div class="row mt-5" style="color:#7e7e7e; font-size: .75rem;">
        <div class="col-8">
            <h4 class="mb-3">Save on Personal Care Products at Big Lots</h4>

            <h5 class="mb-3">Personal Care Products for Your Morning Routine</h5>

            <p>Step up your morning routine with these amazing personal hygiene products from Big Lots! We feature
                great deals on trusted personal care products <a href="#">like bath & body products</a>, <a href="#">skin care products</a> such as
                lotions and creams and <a href="#">oral care products</a> like toothpaste, mouth washes and more.</p>

            <h5 class="mb-3">Hair Care & Styling</h5>

            <p>Step up your morning routine with these amazing personal hygiene products from Big Lots! We feature
                great deals on trusted personal care products like bath & body products, skin care products such as
                lotions and creams and oral care products like toothpaste, mouth washes and more.</p>

            <h5 class="mb-3">Personal Grooming</h5>

            <p>Step up your morning routine with these amazing personal hygiene products from Big Lots! We feature
                great deals on trusted personal care products like bath & body products, skin care products such as
                lotions and creams and oral care products like toothpaste, mouth washes and more.</p>

            <h5 class="mb-3">Health & First Aid </h5>

            <p>Our selection of health and first aid products are great to have on hand when your kids come home
                from school with a bug. Find low prices on cold and flu medications, bandages, creams, lotions, pain
                relievers & more. </p><br>

            <p>Visit your local Big Lots or shop online for the greatest prices on name brands in personal care!</p>
        </div>
    </div>
</div>
{% endblock seo-copy %}

{% block script %}
<script>
    createSwiper('popularProducts');
</script>
{% endblock script %}