{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
{% endblock head %}

{% block content %}

{% include 'snippets/bootstrap-toast.html' %}

<!-- Categories -->
{% include 'snippets/card-swiper-preview.html' with title='HURRY, Ends Today! 20% Off EVERYTHING' %}
{% include 'snippets/card-categories.html' with categories=categories %}
<!-- End Categories -->

{% endblock content %}